body{
    width: 80%;
    margin: 20px auto;
    background-color: antiquewhite;
}

h1{
    position: relative;
    top: -75px;
    left: -30px;
    color: rgb(28, 36, 53);
    padding: 15px 35px;
    background-color: white;
    width:300px;
    border-radius: 35px;
    margin-bottom: -75px;
}

p{
    text-indent: 25px;
}

h2{
    padding: 75px 5px 20px;
    color: rgb(28, 36, 53);
    font-weight: bold;
}

h1, h2, h3, h4 {
    letter-spacing: 2px;
}

.carousel-inner img {
    width: 100%;
    height: 80%;
}

td{
    font-style: italic;
    font-size: 180%;
    text-align: left;
}
td:first-child{
    text-align: right;
    font-weight: lighter;
    font-style: normal;
}

thead{
    background-color: rgba(280, 245, 213, 0.982);
}

tbody{
    background-color: rgba(280, 245, 213, 0.982);
}

.kozep tr td{
    text-align: center;
}

.keplink{
    cursor: pointer;
}

small {
    white-space: pre;
}

.felkover{
font-weight: bold;
}

p{
    text-align: justify;
}

.map{
    width:100%;
    text-align:center;
}

.map iframe{
    border:none;
}

.lejjebb{
    margin-top: 150px;
}

.kozepre{
    text-align: center;
}

.kicsinyites{
    max-width: 250px;
}

.nagyobbbetu{
    font-size: large;
}

.feher{
    color: rgba(280, 245, 213, 0.982);
}

.terkep{
    max-width: 1000;
    height: 1000;
    margin-left: 200;
}

.jobbra{
    text-align: right;
}

.meretezes{
    width: 1000;
}

.kosar-tablazat td {
    font-size: 120%;
    font-style: normal;
}

.kosar-cim {
    font-size: 1.5rem;
    padding: 20px 5px 10px;
}